body {
	background-color: #3B6064;
	color: white;
}

.container {
	background-color: #87BBA2;
	border-radius: 20px;
}

img {
	width: 20vw;
}

h1 {
	font-family: fredoka;
	text-align: text-center;
}

h2 {
	font-family: fredoka;
}

p {
	font-family: fredoka;
}

a {
	color: white;
}
